<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
    <div class="container">
        <div class="alert alert-info text-center">
            <form action="/get_student" method="post">
                <div class="form-group">
                    <label for="inputFio">FIO:</label>
                    <input type="text" class="form-control" id="inputFio" name="fio" placeholder="Введите ФИО">
                </div>
                <div class="form-group">
                    <label for="inputInfo">Info:</label>
                    <input type="text" class="form-control" id="inputInfo" name="info" placeholder="Введите инфу">
                </div>
                <div class="form-group">
                    <label for="inputScore">Score:</label>
                    <input type="text" class="form-control" id="inputScore" name="score" placeholder="Введите результат">
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Add student</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
